body {
	background-color: #E4E3E8;
	/*margin:0;*/
}
/*#below_the_fold {
	margin: 0px 0px 0px 0px;
}*/
header {
	background-color: #E4E3E8;
	width: 1260px;
}
div {
	width:48%;
	padding: 1%;
	display: inline-block;
}
#logo {
	float:left;
}
#navigation {
float: right;
}
nav {
	background-color: #E4E3E8;
	font-family: "FamiliarPro-Light", monospace;
}
nav a {
	background-color: #E4E3E8;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	font-size: 24px;
	float: right;
	padding: 40px;
}
nav a:hover {
	background-color: #E4E3E8;
	opacity: .4;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	font-size: 0;
	clear:both;
	height: 0;
}

#hero_image {
	display: block;
	width: 100%;
	margin:0;
}
article {
	background-color: #FFFFFF;
}
aside {
	background-color: #FFFFFF;
}
h1 {
font-family: "FamiliarPro-Light", monospace;
font-size: 36px;
color: #000000;
font-weight: normal;
text-align: center;
margin-top: auto;
margin-bottom: auto;
padding: 40px;
}

/*li {
	display: inline;
	float:right;
	font-family: "FamiliarPro-Light", monospace;
    font-size: 24px;
    padding: 40px;
    color: #FFFFFF;
}
.navigation {
	position: absolute;
	top: 0;
	right:100px;
	width: 100%;
}*/
#below_the_fold {
	background: #FFFFFF;
	width: 1260px;
	position: relative;
    top: -6px;
}
.products {
	border: 0px;
	padding: 0px;
	text-align: center;
}

h2 {
font-family: "FamiliarPro-Light", monospace;
font-size: 36px;
color: #000000;
font-weight: normal;
text-align: center;
}

/*span.text-content {
	background: rgba(0,0,0,0.5);
	color: white;
	cursor: pointer;
	display: table;
	height: 402px;
	position: absolute;
	width: 287px;
}
span.text-content span {
	display: table-cell;
	text-align: center;
}*/
.about {
	padding-top: 20px;
	padding-bottom: 3em;
}
.text {
font-family: "FamiliarPro-Light", monospace;
font-size: 14px;
line-height: 1.5em;
color: #000000;
font-weight: normal;
text-align: justify;
padding: 0 300px 0px 300px;
}

footer {
	background-color: #E4E3E8;
	position: relative;
	width: 1260px;
	top:-22px;
}

.social_media {
	background-color: #E4E3E8;
	padding-left:43%;
	padding-top: 20px;
	padding-bottom: 20px;
}
a {
	padding: 15px;
}



