body {
	background-color: #E4E3E8;
}
div {
	width:100%;
}
h1 {
font-family: "FamiliarPro-Light", monospace;
font-size: 36px;
color: #FFFFFF;
font-weight: normal;
text-align: center;
}
li {
	display: inline;
	float:right;
	font-family: "FamiliarPro-Light", monospace;
    font-size: 24px;
    padding: 20px;
    color: #FFFFFF;
}
ul {
	top: 0;
	width: 100%;
}
