body {
	background-color: #E4E3E8;
}
div {
	width:100%;
}
h1 {
font-family: "FamiliarPro-Light", monospace;
font-size: 36px;
color: #000000;
font-weight: normal;
text-align: center;
}
li {
	display: inline;
	float:right;
	font-family: "FamiliarPro-Light", monospace;
    font-size: 24px;
    padding: 40px;
    color: #FFFFFF;
}
ul {
	position: absolute;
	top: 0;
	right:100px;
	width: 100%;
}
#below_the_fold {
	background: #FFFFFF;
	width: 100%;
}
.products {
	margin-left: auto;
    margin-right: auto;
}

h2 {
font-family: "FamiliarPro-Light", monospace;
font-size: 36px;
color: #000000;
font-weight: normal;
text-align: center;
}

p {
font-family: "FamiliarPro-Light", monospace;
font-size: 14px;
color: #000000;
font-weight: normal;
text-align: center;

}
