body {
	background-color: #E4E3E8;
}
.hero-image {
	background-size: auto 100%;
	background-position: center top;
	height: 180px;
}
h1 {
font-family: "Familiar Pro", monospace;
font-size: 36px;
color: #FFFFFF;
font-weight: normal;
text-align: center;
}