body {
	background: #FFFFFF;
	margin:0;
	font-size: 16px;
}
.wrapper {
	width: 100%;
	margin: 0; 
}

header {
	background-color: #FFFFFF;
	width: 100%;
	height: 3.75em;
	padding: 0.3125em;
}
#logo {
	float:left;
	background: #FFFFFF;
	padding-left: 1.25em;
	padding-top: 0.625em;
}
.logo {
	height: 2.5em;
}

.sidenav {
	width: 21%;
	width: 0;
	position: absolute;
	z-index: 1;
	top: 70px;
	right: 0;
	background: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 4.4%;
	padding-bottom: 4.3%;
}

.sidenav a {
	padding: 30px 10px 10px 80px;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
	font-size: 1.5625em;
	letter-spacing: 3px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
	color: #F7FF05;
}
.closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
span {
   font-size:3.125em; 
   margin-right: 40px; 
   float: right; 
   cursor:pointer;
}

#intro_row {
    background: #F7FF05;
    width: 100%;
    height: auto;
}

.hero_logo {
	width: 17%;
	margin: 6% 41.5%;
}

#skills {
	margin: 3em auto;
}

h2 {
	font-family: "Open Sans-Bold", sans-serif;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	letter-spacing: 0.3em;
	margin: 0;
	padding-top: 1em;
}

h3 {
	font-family: "Open Sans", sans-serif;
	font-size: 1.5em;
	text-align: center;
	padding: 10px;
	letter-spacing: 0.1em;
	font-weight: lighter;
	-webkit-transition-duration: 0.4s;
     transition-duration: 0.4s;
}

h3:hover {
	background: #F7FF05;
	border-radius: 30px;
}

#skills_list {
	margin: 4% 18%;
	padding: 3em 0 3em 0;
}
.skills_set {
     height: 60px;
     padding: 25px;
     -webkit-transition-duration: 0.4s;
     transition-duration: 0.4s;

}
.skills_set:hover {
	background:#F7FF05;
	border-radius: 30px;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .popuptext {
    visibility: hidden;
    font-family: "Open Sans", sans-serif;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 70%;
    margin-left: -80px;
}


.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.show {
    visibility: visible !important;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}


@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

iframe {
	width: 100%;
	height: 350px;
	margin-bottom: 5px;
	border: none;

}
#projects {
	margin: 3em auto;
}

#project_list {
	display: block;
}

#project_1 {
	width:40%;
	margin: 5%;
	float: left;
}

#project_2 {
	width:40%;
	margin: 5%;
	float: right;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	font-size: 0;
	clear:both;
	height: 0;
}
#about_me {
	margin: 4% 20%;
}
p {
	font-size: 1.1em;
	text-align: justify;
	line-height: 1.8em;
	letter-spacing: 1px;
	font-family: "Open Sans", sans-serif;
	margin: 7% 0 8% 0;
}

footer {
	background: #F7FF05;
}

#contact_info {
	margin: 1% 40%;

}

.social_media {
	/*width:15%;*/
	height: 40px;
	padding: 20px;
	cursor: pointer;
	 -webkit-transition-duration: 0.4s;
     transition-duration: 0.4s;
}
.social_media:hover {
	background: #FFFFFF;
	border-radius: 20px;

}

@media only screen and (max-width: 375px) {
	body {
		font-size: 12px;
	}
	span { 
   margin-right: 0; 
}
.sidenav {
	padding-top: 2.4%;
	padding-bottom: 2.3%;
}
	#contact_info {
	margin: 1% 15%;

}
#skills_list {
	margin: 4% 3%;
}
iframe {
	height: 200px;
}
#project_1 {
	width:100%;
	margin: 0;
}

#project_2 {
	width:100%;
	margin: 0;
}
#about_me {
	margin: 4% 8%;
}
}